.button {
    background-color: #008CBA;
}

.button2 {
    background-color: green;
}

.button3 {
    background-color: yellow;
}

.button4 {
    background-color: yellowgreen;
}

.button5 {
    background-color: rebeccapurple;
}

.button6 {
    background-color: saddlebrown;
}

.button7 {
    background-color: silver;
}